@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
}

.main_container {
  position: relative;
}

.images_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.image {
  width: 120px;
  border-radius: 8px;
  height: 160px;
  object-fit: cover;
}

.image:hover {
  opacity: 0.7;
}

.modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.active_image {
  position: absolute;
  width: 150px;
  height: 240px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 30px 10px #1e40af;
}

.thumbnail_div {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 30px;
  height: 50px;
  border: 2px solid transparent;
  cursor: pointer;
}

.active_thumbnail {
  border: 2px solid #1e40af;
}